@import 'variables.scss';

.chapter {
  counter-reset: maths;
}

.math.block {
  position: relative;
  display: block;
  .math-numbering {
    font-size: x-small;
    position: absolute;
    display: block;
    left: 100%;
    bottom: 0;
    top: 0;
    &::before {
      content: '\200B';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .math-numbering-content {
      vertical-align: middle;
      &::after {
        counter-increment: maths;
        display: inline;
        height: 100%;
        line-height: 100%;
        content: counter(maths) "";
      }
    }
  }
}

.chapter {
  page-break-after: always;
}

#generative-discriminative {
  page-break-inside: avoid;
}

div.full-thesis {
  counter-reset: subsect;
  page-break-after: always;
  .leaders {
    li {
      .row {
        background: white;
      }
      &:before {
        background: white;
      }
      .nr {
        background: white;
      }
    }
  }
  .reset-counter {
    /* Creates a new instance of the section counter with each section element */
    //list-style-type: none;
    //margin: 0 0 1em;
    //padding: 0 0 0 1em;
  }
  .chapter section.numbered-section:first-of-type {
    counter-reset: subsect;
  }
  .numbered-section {
    /* Increments only this instance of the section counter */
    counter-increment: subsect;
  }
  .chapter.numbered-section .title::before {
    /* Adds the value of all instances of the section counter separated by a ".". */
    content: counters(subsect, ".") ". ";
  }
  .numbered-section .title::before {
    /* Adds the value of all instances of the section counter separated by a ".". */
    content: counters(subsect, ".") " ";
    font-size: 0.8em;
    //line-height: 1em;
  }
}

.avoid-page-break {
  page-break-inside: avoid;
}

.section-content {
  page-break-before: avoid;
}

caption {
  page-break-after: avoid;
}

#rechtspraak-nl-data-set {
  .desc {
    list-style: none;
    p:first-child {
      page-break-before: avoid;
    }
  }
  .desc:before {
    page-break-after: avoid;
  }
  .desc.title:before, .desc.section:before, .desc.info:before {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    color: #333;
    font-size: 12px;
    font-weight: bold;
  }
  .desc.title:before {
    content: 'title';
  }

  .desc.section:before {
    page-break-after: avoid;
    content: 'section';
  }

  .desc.info:before {
    content: '*.info';
  }
}

#title-page {
  page-break-after: always;
  text-align: center;

  h1 {
    margin: 2in 0 0 0;
  }
  #title-page-author-author {
    font-size: 8pt;
    line-height: 2in;
  }
  #title-page-author-name {
    font-size: 15pt;
    color: #222;
    margin-bottom: 2.5in;
  }
  .title-page-supervisor.external {
    margin-bottom: 2.0in;
  }
  .title-page-supervisor .name {
    color: #222;
  }
}

/**
 * Figure
 */
figure {
  page-break-inside: avoid;
  margin: 1em 40px;
}

.inline-table {
  display: inline-table;
}

.nopadding {
  padding: 0;
}

.tbl-confusion-matrix {
  page-break-inside: avoid ;
  th, td {
    border: none;
  }
}

#fig-tfidf-sections {
  .perc-text {
    min-width: 30px;
  }
  div {
    text-align: center;
    table {
      text-align: left;
      text-align: start;
    }
  }
}

.nomargin {
  margin: 0;
}

.noborder {
  border: none;
}

.minus90 {
  display: inline-block;
  transform: rotate(-90deg);
}

.figure-img-container {
  text-align: center;
}

figcaption {
  font-size: small;
}

.data-source {
  font-variant: small-caps;
}

/**
 * Chart:
 */
.chart {
  border: solid #D8D8D8 1px;
}

.bar:hover {
  fill: brown;
}

svg text {
  font-size: 10px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}

.x.axis path {
  display: none;
}

/*
 *
 */
html {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font: 14px/1.5 $font-family-base;

  //font-weight: 400;
}

body {
  max-width: 800px;
  margin: auto;
  padding: $body-padding;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
  color: #222;
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

h3, h4, h5, h6 {
  color: #494949;
}

a {
  color: #39c;
  text-decoration: none;
}

a:hover, header a:visited:hover, footer a:visited:hover {
  color: #069;
}

a:visited {
  color: rgb(100, 79, 139);
}

a:visited:hover {
  color: rgb(83, 50, 139);
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

.wrapper {
  max-width: 860px;
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0 0 20px;
  padding: 0 0 0 20px;
  font-style: italic;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  //width: 100%;
  border-collapse: collapse;
}

.grammar th {
  color: #8E8E8E;
}

.grammar td {
  border: none;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

strong {
  color: #222;
  font-weight: 700;
}

header a, footer a, header a:visited, footer a:visited {
  color: #39c;
  text-decoration: none;
}

/*header ul {*/
/*list-style: none;*/
/*height: 40px;*/
/*padding: 0;*/
/*background: #f4f4f4;*/
/*border-radius: 5px;*/
/*border: 1px solid #e0e0e0;*/
/*width: 270px;*/
/*}*/

/*header li {*/
/*width: 89px;*/
/*float: left;*/
/*border-right: 1px solid #e0e0e0;*/
/*height: 40px;*/
/*}*/

/*header li:first-child a {*/
/*border-radius: 5px 0 0 5px;*/
/*}*/

/*header li:last-child a {*/
/*border-radius: 0 5px 5px 0;*/
/*}*/

/*header ul a {*/
/*line-height: 1;*/
/*font-size: 11px;*/
/*color: #999;*/
/*display: block;*/
/*text-align: center;*/
/*padding-top: 6px;*/
/*height: 34px;*/
/*}*/

/*header ul a:hover {*/
/*color: #999;*/
/*}*/

/*header ul a:active {*/
/*background-color: #f0f0f0;*/
/*}*/

/*header ul li + li + li {*/
/*border-right: none;*/
/*width: 89px;*/
/*}*/

/*header ul a strong {*/
/*font-size: 14px;*/
/*display: block;*/
/*color: #222;*/
/*}*/

section {
  border: 0 solid #e5e5e5;
  border-top-width: 1px;
}

section {
  padding-top: 20px;
  /*padding-bottom: 20px;*/
}

footer {
  border-top-width: 1px;
}

section:first-child {
  /*width: 500px;*/
}

/*section:last-child {*/
/*padding-bottom: 50px;*/
/*border-bottom-width: 1px;*/
/*}*/

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

.print-spacer {
  display: none;
}

@media print {
  .print-spacer {
    display: block;
    height: 5em;
    width: 100%;
  }
  .math.block {
    .math-numbering {
      left: auto;
      right: 0;
    }
  }
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  article {
    padding: 0 0 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul, header p.view {
    position: static;
  }

  pre, code {
    word-wrap: normal;
  }
}

@media only screen and (max-width: 700px) {
  #fig-title-patterns {
    left: -$body-padding;
    position: relative;
  }
  figure {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: $body-padding-narrow;
  }
  #fig-title-patterns {
    left: -$body-padding-narrow;
  }
}

/* Tables*/

.inline-table {
  display: inline-table;
  max-width: 400px;
}

.chart .table {
  max-width: 480px;
  margin-left: 20px;
  th.nr {
    text-align: center;
  }
}

.table caption {
  font-weight: bold;
}

abbr[title] {
  /*border-bottom: 1px dotted #c1c1c1; */
  border-bottom: none;
}

/* etc*/

@media only screen and (max-width: 768px) {
  /* tablets and desktop
  figure {
    margin: 1em 0;
  }
}

@media only screen and (max-width: 410px) {
  /* tablets and desktop */
  figure {
    margin: 1em 0;
  }
}

.perc-bar {
  fill: #3182BD;
}

.perc-bar.bg {
  fill: #EEEEEE;
}

.perc-text {
  font-size: x-small;
  vertical-align: middle;
  display: inline-block;
  margin: 0 1em 0 0;
  text-align: right;
  min-width: 50px;
}

#fig-title-tf-idf {
  td, th {
    //padding: 5px;
  }

  .tf-idf-score {
    font-size: small;
  }
}

@media print {
  nav.toc {
    font-size: 12pt;
  }
  strike {
    display: none; /*TODO remove*/
  }
  .data-source {
    display: none;
  }
  section {
    border: none;
  }
  body {
    padding: 0.0in;
    font-size: 10pt;
    color: #444;
  }
  a, a:visited {
    color: #444;
  }
  h1, h2, h3, h4, h5, h6 {
  }
}

@media (min-width: $screen-sm-min) {
  .Layout {
    width: 750px;
  }
}

@media (min-width: $screen-md-min) {
  .Layout {
    width: 746px;
  }
}

@media (min-width: $screen-lg-min) {
  .Layout {
    width: 738px;
  }
}

@media only screen and (max-width: 767px) {
  figure {
    margin: 1em 10px;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@page {
  margin: 1in;
  size: A4;
  counter-increment: page;
  counter-reset: page 1;
  @top-right {
    content: counter(page) " / " counter(pages);
  }
}