.toc {

  & > ol > li > ol {
    font-size: 0.8em;
  }

  & > ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }

  ol.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none
  }

  ol.leaders .row:before {
    float: left;
    width: 0;
    white-space: nowrap;
    font-size: 10px;
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  }

  ol.leaders .row span:first-child {
    padding-right: 0.33em;
    background: white
  }
  .nr{
    float: right;
    background: white;
    font-size: 11px;
  }
  ol.leaders .row span + span {
    padding-left: 0.33em;

  }

  ol {
    /* Creates a new instance of the section counter with each ol
                                            element */
    counter-reset: subsection;
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0 0 0 1em;
  }
  li::before {
    /* Increments only this instance of the section counter */
    counter-increment: subsection;

    /* Adds the value of all instances of the section counter separated by a ".". */
    content: counters(subsection, ".") " ";
  }

  & > ol > li::before {
    content: counters(subsection, ".") ". ";
  }
}

.title {
  position: relative;
  &:hover {
    .link-up {
      position: absolute;
      left: -24px;
      height: 24px;
      width: 24px;
      line-height: 24px;
      text-align: center;
      text-decoration: none;
      color: #8c8c8c;
      font-style: normal;
      &::before {
        content: '∧';
      }
    }
  }
}