.tree-map {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  color: #333;
  display: inline-block;
  padding: 8px;
  .legend {
    .cell {
      vertical-align: middle;
    }
  }
  .node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
  }

  .node:hover {
    background: white !important;
    min-width: 65px !important;
    height: auto !important;
    z-index: 9999 !important;
  }

  .label-pattern-count:before {
    content: " (";
  }

  .label-pattern-count:after {
    content: ")";
  }

  .label-pattern-count {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 700px) {
  .tree-map {
    padding: 8px 0;
  }
}

